<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/nav.ejs') %>  
    <%- include('includes/juego.ejs') %>     
    <%- include('includes/pregunta.lab17.ejs') %>   
    <article>
        <h3> Referencias</h3>
        <ul>   
            <li><a href=></a></li>
        </ul>
    </article>
    <%- include('includes/foot.ejs') %>   
    <%- include('includes/script.ejs') %>  
</body>