<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/nav.ejs') %>  
    <%- include('includes/ppt2.ejs') %>     
    <%- include('includes/pregunta.ejs') %>   
    <article>
        <h3> Referencias</h3>
        <ul>   
            <li><a href="https://codigofacilito.com/articulos/mvc-model-view-controller-explicado">Hernández, U. (22 de febrero 2015). MVC (Model, View, Controller) explicado.</a></li>
        </ul>
    </article>
    <%- include('includes/foot.ejs') %>   
    <%- include('includes/script.ejs') %>  
</body>